.amount-field {
    width: 100%;
    .example-right-align {
        text-align: right;
    }
    .mat-form-field-suffix {
        position: initial !important;
    }
    .mat-form-field-prefix {
        top: 0em !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}