<mat-form-field class="textarea-field" [appearance]="appearance">
    <mat-label>{{lable}}</mat-label>
    <textarea *ngIf="maxLength > 0" matInput [maxLength]="maxLength" [name]="name" [formControl]="control" ></textarea>
    <textarea *ngIf="!maxLength" matInput [name]="name" [formControl]="control" ></textarea>
    <mat-hint *ngIf="maxLength" align="end">{{ 'Max length is ' + maxLength + ' characters'}}</mat-hint>
    <mat-error *ngIf="control.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>