    <div class="wrap">
        <div class="container">
            <div class="row align-items-center">
              <div class="col-1">
                
              </div>
              <div class="col-5">
                <mat-card class="example-card">
                    <img class="card-image" (click)="startProcess()"  mat-card-image src="../../../assets/order.jpg" >
                    <mat-card-content>
                      <p>
                        Start survey process
                      </p>
                    </mat-card-content>
                  </mat-card>
              </div>
              <div class="col-5">
                <mat-card class="example-card">
                    <img class="card-image" (click)="getList()"  mat-card-image src="../../../assets/online-surveys.png" >
                    <mat-card-content>
                      <p>
                        List surveys
                      </p>
                    </mat-card-content>
                  </mat-card>
              </div>
              <div class="col-1">

              </div>
            </div>
        </div>
    </div> 
