<mat-card class="list-surveys-card">
    <mat-card-header class="header">
        <mat-card-title>List surveys</mat-card-title>
        <button class="more-actions" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="navigateHome()" mat-menu-item>
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
          </mat-menu>
    </mat-card-header>
    <mat-card-content class="content">
        <table mat-table [dataSource]="dataSource">
  
            <!-- Position Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="productScore">
              <th mat-header-cell *matHeaderCellDef> Product score </th>
              <td mat-cell *matCellDef="let element"> {{element.productSccore}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="longUsedProducts">
              <th mat-header-cell *matHeaderCellDef> Long used products </th>
              <td mat-cell *matCellDef="let element"> {{element.longUsedProducts}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container class="actions" matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button (click)="updateSurvey(element)"><mat-icon style="color: rgb(177, 211, 231);">update</mat-icon></button>
                <button mat-button (click) ="deleteSurvey(element)"><mat-icon style="color: rgb(252, 35, 35);">delete</mat-icon></button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator 
                         [length]="dataSource.data.length"
                         [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
    </mat-card-content>
</mat-card>
