.list-surveys-card {
    margin: 10px auto;
    max-width: 1200px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .more-actions {
        position: absolute;
        left: 95%;
        top: 0%;
      }
    }
    .content {
      table {
        width: 100%;
        .mat-column-actions {
            text-align: center;
            width: 25%;
        }
      }
    }
  }
  